



*{
    margin: 0;
    padding: 0;
   
}

body{
    /* background-image: linear-gradient(to right, #470b0b, #8B0000);*/
    background-color: white;
    font-family: 'Regular 400', 'Bold 700', sans-serif;
    font-weight: 500;
    text-align: center;
    position: absolute;
    justify-content: center;
    font-family: 'Libre Caslon Display', serif;
    align-items: center;
    


   
    
  
}


.row-1 {
margin-top:15px;
margin-bottom: 0px;
}
h1 {color: #fff;
}

.container {
    display: flex;
    width: 100;
    height: 34vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    
    border-color: black;


 
    


    
 }

button {
    background-color: #fff;
    width: 65px;
    height: 65px;
    margin: 2px 0.3px;
    margin-bottom: 0px;
    border: black;
    outline: black;
    border-radius: 3px;
    font-size: 15px;
    font-family: 'Regular 400', 'Bold 700',sans-serif;
    border-color: black;
}

button:hover {
    cursor: pointer;
    background-color: rgb(37, 35, 59);
    color: #fff;
}



#clear{
    background-color: rgb(255, 20, 20);
    color: white;
}
#clear:hover {
    background-color: rgb(37, 35, 59) ;
}

input[type="text"] {

    width:180px;
    height: 65px;
    padding-left: 25px;
    border: none;
    outline:none;
    border-radius: 3px;
    font-size:15px;
    margin-bottom: 0%;
    font-family: 'Open Sans', sans-serif';
}


#text10 {
    width:180px;
    height: 65px;
    padding-left: 25px;
    border: none;
    outline:none;
    border-radius: 3px;
    font-size:15px;
    margin-bottom: 0%;
    font-family: 'Open Sans', 'sans-serif'; 

  padding: 40px 40px 40px 60px;
    margin-bottom: 10px;
    margin-top: 0%;
 

}

.present {
    margin-top: 80px;

    border-radius: 2vh;
    margin-left: 20vh;
    margin-right: 20vh;
    padding: 3vh 13vh;
    background-color: #fff;
    color:#b0acac;
    margin-bottom: 5vh;

}


.present1 {
    margin-top: 80px;

    border-radius: 2vh;
    margin-left: 10vh;
    margin-right: 10vh;
    padding: 5vh;
    background-color:none;
    color:white;
    border-color: white;
    border-style: double;
    text-decoration: none;
    
}

.geral textarea {
    color:#b0acac;
    max-width: 30vh;
    min-width: 10vh;
    min-height: 10vh;
    
    
}


@media only screen and (min-width: 700px) {

body{

    background-color: #fff;
    font-family: 'Libre Caslon Display', serif;
    align-items: center;
    margin-left: 60vh;
    margin-right: 60vh;
    
}
 }
  /*  body {
      background-color: lightblue;
      width: 100%;

    }
    .present { 
        padding-left: 15vh;
        padding-right: 15vh;
    }
  }

  .geral {
      position: absolute;
      justify-content: center;
  } */
  .geral{ border-style: double;
    border-color: white;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: red;
    align-items: center;
    
    

  }

  a:link {
    text-decoration:none;
    }
    a:visited {
    text-decoration:none;
    }
    a:hover {
    text-decoration:none;
    }
